<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        #emailInput="ngModel"
        type="email"
        name="email"
        ngModel
        required
        email
        placeholder="Email">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        #passwordInput="ngModel"
        type="password"
        name="password"
        ngModel
        required
        placeholder="Password">
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      *ngIf="!isLoading"
      type="submit">Signup</button>
  </form>
</mat-card>
